<div *ngIf="showDeleteSuccess" class="alert alert-success" role="alert" (click)="closeDeleteSuccess()">
  Narration successfully deleted!
</div>
<div *ngIf="deletionError" class="alert alert-danger" role="alert">
  Error deleting narration!
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Narration</th>
            <th scope="col">Duration</th>
            <th scope="col">Audio</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let narration of narrations" >
            <td (click)="goToNarration(narration.id)">{{narration.name}}</td>
            <td>{{ getTotalDuration(narration) }}</td>
            <td>
                <audio *ngIf="narration._links.recording" controls src="{{narration._links.recording}}/audio"></audio>
            </td>
            <td><button class="button" (click)="deleteNarration(narration.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
