.upload-area-background {
    background-color: #f2f2f2;
    padding: 10px;
}

#markdown-upload-area {
    height: 100px;
    width: auto;
    border: dashed grey 1.5px;
    border-radius: 5px;
    text-align: center;
}

#markdown-upload-area i {
    color: #3b3a30;
    vertical-align: middle;
    line-height: 1.6;
}
