<div class="recorder-container">
    <div id="recorder-left-panel">
        <i class="fas fa-microphone fa-lg"></i>
    </div>
    <div id="recorder-main-panel">
        <div>
            <i *ngIf="!state || state ==='paused' || state === 'inactive'" class="fas fa-circle fa-lg" (click)="recordOrResume()"></i>
            <i *ngIf="state === 'recording'" class="fas fa-pause-circle fa-lg" (click)="pause()"></i>
        </div>
        <div class="recorder-volume"><!--display volume meter here--></div>
        <div class="recorder-main-status">
            <span *ngIf="state && state !== 'inactive'">{{state}}</span>
        </div>
    </div>
    <div id="recorder-right-panel">
        <i class="fas fa-stop fa-lg" (click)="stop()"></i>
    </div>
</div>
